
services:
 node:
   build: .
   ports:
     - 9000:9000
   develop:
     watch:
       - action: sync
         path: ./js/
         target: /code
         ignore:
           - node_modules/
       - action: rebuild
         path: package.json

networks:
  default:
    name: lake_network
    external: true
