
services:

  postgres:
    build: .
    ports:
      - 5432:5432
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      PGUSER: lake_admin
      PGDATABASE: lake

volumes:
  database:
